body {
  font-family: var(--main-text-font);
}

.pre-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: var(--pre-title-fz);
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.text {
  line-height: 1.62;
  letter-spacing: 0.02em;
}
