:root {
  // main colors
  --accent-color: #ff6c00;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f7f7f7;
  --main-heading-color: #303030;
  --overlay-color: rgba(25, 28, 38, 0.2);
  --contacts-bg-color: #191c26;
  --text-on-img-color: #9da4bd;
  --main-text-color: #555555;
  --pre-title-color-transparent: rgba(157, 164, 189, 0.6);
  // font family
  --heading-font: 'Raleway', sans-serif;
  --main-text-font: 'Open Sans', sans-serif;
  // font size
  --pre-title-fz: 11px;
  --link-text-fz: 12px;
  --btn-text-fz: 12px;
  --main-text-fz: 14px;
  --text-on-img-fz: 18px;
  --mobile-heading-fz: 28px;
  --main-heading-fz: 42px;
  --mobile-hero-fz: 48px;
}
